In [2]:
import pandas as pd 
import numpy as np

In [13]:
file_name = '1_invoice_test.xlsx'
# 1_invoice_test.xlsx

In [14]:
df = pd.read_excel(file_name, header=0)
df.head(3)

,Company,Date,Currency,Exchange Rate,Price List,Price List Currency,Price List Exchange Rate,Net Total (Company Currency),Grand Total (Company Currency),Grand Total,...,Service End Date (Items),Weight Per Unit (Items),Total Weight (Items),Weight UOM (Items),Warehouse (Items),Sales Person (Sales Contributions and Incentives),Contact No. (Sales Contributions and Incentives),Contribution (%) (Sales Contributions and Incentives),Contribution to Net Total (Sales Contributions and Incentives),Commission Rate (Sales Contributions and Incentives)
0,AOAI,2021-12-22,USD,1,Standard Selling,USD,1,527.8,527.8,527.8,...,NaN,0,0,NaN,Stores - AI,omar,NaN,100.0,527.8,NaN
1,AOAI,2021-12-22,USD,1,Standard Selling,USD,1,527.8,527.8,527.8,...,NaN,0,0,NaN,Stores - AI,NaN,NaN,NaN,NaN,NaN
2,AOAI,2021-12-22,USD,1,Standard Selling,USD,1,527.8,527.8,527.8,...,NaN,0,0,NaN,Stores - AI,NaN,NaN,NaN,NaN,NaN

In [17]:
df.at[1, 'Company'] = ''

In [18]:
df.head()

,Company,Date,Currency,Exchange Rate,Price List,Price List Currency,Price List Exchange Rate,Net Total (Company Currency),Grand Total (Company Currency),Grand Total,...,Service End Date (Items),Weight Per Unit (Items),Total Weight (Items),Weight UOM (Items),Warehouse (Items),Sales Person (Sales Contributions and Incentives),Contact No. (Sales Contributions and Incentives),Contribution (%) (Sales Contributions and Incentives),Contribution to Net Total (Sales Contributions and Incentives),Commission Rate (Sales Contributions and Incentives)
0,AOAI,2021-12-22,USD,1,Standard Selling,USD,1,527.8,527.8,527.8,...,NaN,0,0,NaN,Stores - AI,omar,NaN,100.0,527.8,NaN
1,,2021-12-22,USD,1,Standard Selling,USD,1,527.8,527.8,527.8,...,NaN,0,0,NaN,Stores - AI,NaN,NaN,NaN,NaN,NaN
2,AOAI,2021-12-22,USD,1,Standard Selling,USD,1,527.8,527.8,527.8,...,NaN,0,0,NaN,Stores - AI,NaN,NaN,NaN,NaN,NaN

In [19]:
df.to_excel(file_name,  header=True, index=False)

In [20]:
df.at[(1,2), 'Company'] = ''

In [21]:
df.head()

,Company,Date,Currency,Exchange Rate,Price List,Price List Currency,Price List Exchange Rate,Net Total (Company Currency),Grand Total (Company Currency),Grand Total,...,Service End Date (Items),Weight Per Unit (Items),Total Weight (Items),Weight UOM (Items),Warehouse (Items),Sales Person (Sales Contributions and Incentives),Contact No. (Sales Contributions and Incentives),Contribution (%) (Sales Contributions and Incentives),Contribution to Net Total (Sales Contributions and Incentives),Commission Rate (Sales Contributions and Incentives)
0,AOAI,2021-12-22,USD,1,Standard Selling,USD,1,527.8,527.8,527.8,...,NaN,0,0,NaN,Stores - AI,omar,NaN,100.0,527.8,NaN
1,,2021-12-22,USD,1,Standard Selling,USD,1,527.8,527.8,527.8,...,NaN,0,0,NaN,Stores - AI,NaN,NaN,NaN,NaN,NaN
2,,2021-12-22,USD,1,Standard Selling,USD,1,527.8,527.8,527.8,...,NaN,0,0,NaN,Stores - AI,NaN,NaN,NaN,NaN,NaN

In [23]:
df.columns

Index(['Company', 'Date', 'Currency', 'Exchange Rate', 'Price List',
       'Price List Currency', 'Price List Exchange Rate',
       'Net Total (Company Currency)', 'Grand Total (Company Currency)',
       'Grand Total', 'Debit To', 'Customer', 'Customer Name',
       'Payment Due Date', 'Cost Center', 'Customer Address', 'Address',
       'Mobile No', 'Territory', 'Total Quantity', 'Total (Company Currency)',
       'Total', 'Net Total', 'Apply Additional Discount On',
       'Additional Discount Amount (Company Currency)',
       'Additional Discount Percentage', 'Additional Discount Amount',
       'Against Income Account', 'ID (Items)', 'Item Name (Items)',
       'Description (Items)', 'UOM (Items)', 'UOM Conversion Factor (Items)',
       'Rate (Items)', 'Amount (Items)', 'Rate (Company Currency) (Items)',
       'Amount (Company Currency) (Items)', 'Income Account (Items)',
       'Cost Center (Items)', 'Barcode (Items)', 'Item (Items)',
       'Customer's Item Code (Items)', 'Item Group (Items)',
       'Brand Name (Items)', 'Image (Items)', 'Quantity (Items)',
       'Stock UOM (Items)', 'Qty as per Stock UOM (Items)',
       'Price List Rate (Items)', 'Price List Rate (Company Currency) (Items)',
       'Margin Type (Items)', 'Margin Rate or Amount (Items)',
       'Rate With Margin (Items)',
       'Discount (%) on Price List Rate with Margin (Items)',
       'Discount Amount (Items)',
       'Rate With Margin (Company Currency) (Items)',
       'Item Tax Template (Items)', 'Pricing Rules (Items)',
       'Rate of Stock UOM (Items)', 'Is Free Item (Items)', 'Net Rate (Items)',
       'Net Amount (Items)', 'Net Rate (Company Currency) (Items)',
       'Net Amount (Company Currency) (Items)',
       'Delivered By Supplier (Items)', 'Is Fixed Asset (Items)',
       'Asset (Items)', 'Finance Book (Items)', 'Expense Account (Items)',
       'Discount Account (Items)', 'Deferred Revenue Account (Items)',
       'Service Stop Date (Items)', 'Enable Deferred Revenue (Items)',
       'Service Start Date (Items)', 'Service End Date (Items)',
       'Weight Per Unit (Items)', 'Total Weight (Items)', 'Weight UOM (Items)',
       'Warehouse (Items)',
       'Sales Person (Sales Contributions and Incentives)',
       'Contact No. (Sales Contributions and Incentives)',
       'Contribution (%) (Sales Contributions and Incentives)',
       'Contribution to Net Total (Sales Contributions and Incentives)',
       'Commission Rate (Sales Contributions and Incentives)'],
      dtype='object')

In [24]:
for column in df.columns:
    print(column)

Company
Date
Currency
Exchange Rate
Price List
Price List Currency
Price List Exchange Rate
Net Total (Company Currency)
Grand Total (Company Currency)
Grand Total
Debit To
Customer
Customer Name
Payment Due Date
Cost Center
Customer Address
Address
Mobile No
Territory
Total Quantity
Total (Company Currency)
Total
Net Total
Apply Additional Discount On
Additional Discount Amount (Company Currency)
Additional Discount Percentage
Additional Discount Amount
Against Income Account
ID (Items)
Item Name (Items)
Description (Items)
UOM (Items)
UOM Conversion Factor (Items)
Rate (Items)
Amount (Items)
Rate (Company Currency) (Items)
Amount (Company Currency) (Items)
Income Account (Items)
Cost Center (Items)
Barcode (Items)
Item (Items)
Customer's Item Code (Items)
Item Group (Items)
Brand Name (Items)
Image (Items)
Quantity (Items)
Stock UOM (Items)
Qty as per Stock UOM (Items)
Price List Rate (Items)
Price List Rate (Company Currency) (Items)
Margin Type (Items)
Margin Rate or Amount (Items)
Rate With Margin (Items)
Discount (%) on Price List Rate with Margin (Items)
Discount Amount (Items)
Rate With Margin (Company Currency) (Items)
Item Tax Template (Items)
Pricing Rules (Items)
Rate of Stock UOM (Items)
Is Free Item (Items)
Net Rate (Items)
Net Amount (Items)
Net Rate (Company Currency) (Items)
Net Amount (Company Currency) (Items)
Delivered By Supplier (Items)
Is Fixed Asset (Items)
Asset (Items)
Finance Book (Items)
Expense Account (Items)
Discount Account (Items)
Deferred Revenue Account (Items)
Service Stop Date (Items)
Enable Deferred Revenue (Items)
Service Start Date (Items)
Service End Date (Items)
Weight Per Unit (Items)
Total Weight (Items)
Weight UOM (Items)
Warehouse (Items)
Sales Person (Sales Contributions and Incentives)
Contact No. (Sales Contributions and Incentives)
Contribution (%) (Sales Contributions and Incentives)
Contribution to Net Total (Sales Contributions and Incentives)
Commission Rate (Sales Contributions and Incentives)